/* General Settings */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html,body{

    margin:0;
    font-family: 'Roboto', sans-serif;

    --bg_dark: #202020;
    --bg-light: #303030;

    --color-white: #ffffff;
    --color-white-dark: #dddddd;
    --color-grey: #777777;

}

.content{
    width:75%;
    height:50vh;
    margin:90px auto 20px auto;
    /* background-color:green; */
}

.container{
    width:50%;
    height:40vh;
    margin:0px auto 0px auto;
    /* background-color:green; */
}

/*Formular*/

input{
    display:block;
    width:350px;
    height:3vh;
    margin:20px auto 20px auto;
    border-radius: 10px;
}

button{
    display:block;
    width:250px;
    height:5vh;
    margin:20px auto 20px auto;
    background:rebeccapurple;
    border-radius: 10px;
}

.li {
    display: inline;
}

button:hover{
    display:block;
    width:250px;
    height:5vh;
    margin:20px auto 20px auto;
    background:none;
    color:limegreen;
    cursor:pointer;
}

th, td {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 10px;

}

a {
    text-decoration: none;
    color: #000;
}
.site-header {
    border-bottom: 1px solid #ccc;
    padding: .5em 1em;
    display: flex;
    justify-content: space-between;
}

.site-identity h1 {
    font-size: 1.5em;
    margin: .6em 0;
    display: inline-block;
}


.site-navigation ul,
.site-navigation li {
    margin: 0;
    padding: 0;
}

.site-navigation li {
    display: inline-block;
    margin: 1.4em 1em 1em 1em;
}

.footer {
    position: fixed;
    height:1.4em;
    width: 100%;
    bottom: 0;
    font-size: small;
    background-color: slategrey;
    background-position: bottom;
    text-align: center;
}


.productcontent {
    width: 60%;
    height: auto;
    margin: 20px auto 20px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 400px);


}

.container_small {

    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.productThumb{
    -webkit-box-shadow: 6px 3px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 3px 6px 0px rgba(0,0,0,0.75);
    box-shadow: 6px 3px 6px 0px rgba(0,0,0,0.75);
    margin: 10px;

}

.image{
    height: 100px;
    margin: 5px auto;
    display: block;
}

.image_medium{
    height: 300px;
    margin: 5px auto;
    display: block;
}

.alert{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: lightcoral;
}
.alert alert-danger{
    margin-top: 10px; margin-bottom: 10px; padding: 10px; border: 1px solid #ccc; border-radius: 5px;
}
.success{
    margin-top: 10px; margin-bottom: 10px; padding: 10px; border: 1px solid green; border-radius: 5px; background-color: limegreen;
}
.shopcontent{
    width:75%;
    height: auto;
    min-height: 93vh;
    margin: 20px auto;
    background: slategrey;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
}

h1{
    text-align: center;
    color: papayawhip;
}


